<div class="container mt-3 mx-auto">

  <div class="mb-5">
    <form action="/search" class="auto">
      <div class="d-flex justify-content-center">
        <div class="input-group w-50">
          <select class="form-select" aria-label="Default select example">
            <option>類別</option>
            <option value="1">家局物業</option>
            <option value="2">交通出行</option>
            <option value="3">休閒娛樂</option>
            <option value="4">餐飲食品</option>
            <option value="5">其他</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <!-- 總金額 -->
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-row justify-content-start">
      <h5>總金額: 2500</h5>
    </div>
  </div>

  <!-- 資料 -->
  <div class="d-flex justify-content-center my-3">

    <ul class="list-group w-50">
      {{#each records}}
        <li class="list-group-item mb-2">
          <div class="row">
            <div class="col-auto me-auto">
              <h4 style="display: inline; vertical-align: middle;" class="mx-2">
                {{ this.name }}
              </h4>
              <p style="display: inline;">{{ this.amount }}</p>
              <p>{{ this.date }}</p>
            </div>
            <div class="col-auto d-flex align-items-center">
              <a class="btn btn-success mx-2" href="/ledger/{{ this._id }}/edit">修改</a>
              <form action="/ledger/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-danger" type="submit">刪除</button>
              </form>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>

  </div>

</div>

<div class="text-center">
  <a href="/ledger/new" class="btn btn-info mt-3">新增支出</a>
</div>


